.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    max-width: 2000px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.styled-table thead tr{
    background-color: #F5C32C;
    color: black;
    text-align: center;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr{
    border-bottom: 1px solid white;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: aliceblue;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 10px solid#F5C32C;
}

.btn {
    border:none;
    color: aliceblue;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: red;
}

.btn-delete {
    background-color:blue;;
}

.btn-view{
    background-color: rgb(38, 244, 179);
    color: black;
}

.btn-contact {
    background-color: #0fed08;
        margin-bottom: 20px;
    align-items: center;
}
